.container{
    background: #120F1C;
    flex-direction: column;
    display:flex;
}

.box{
    width:400px;
    height :120px;
    background-color:orange;
    display:flex;
    margin:12px;
    justify-content:space-between;
    align-items:start;
}

.icon{
    color:red;
    font-size:22px;
}

.icone{
    color:white;
    font-size:22px;
}