.container {
    background: #120F1C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width:100%;
    height:100vh;
}

.box {
    width: 592px;
    height: 128px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 14px;
    display: flex;
    margin: 12px;
    justify-content: space-between;
    align-items: start;
}

.box-content{
  
    margin:12px;
}
.icon {
    color: #CF5959;
    font-size: 22px;
    margin:12px;
    cursor:pointer;
}

.icone {
    color:#656469 ;
    font-size: 1pxpx;

}

h2,h3{
    color:#656469;
}

h1{
    color:white;
}

h2{
    margin-bottom:12px;
}

